body{
    padding: 0;
    margin: 0;
}
section{
    display: grid;
    grid-template-columns: 50px 1100px;
    gap:10px;
}

.first-part{
    display: grid;
    gap:20px;
}

aside{
    border-right: 1px solid rgb(230, 230, 230);
    display: grid;
    gap:220px;
    justify-content: center;
    padding: 20px;
}

.logo{
    width: 25px;
    height: 25px;
}

.display-gallery{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 20px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-image{
    border: 1px solid gainsboro;
    border-radius: 10px;
}


img:hover{
    transform: scale(0.9);
    transition-duration: 0.5s;
}

svg{
    border: 1px solid blue;
    padding: 5px;
    border-radius: 10px;
}