h2{
    text-align: center;
    font-variant: small-caps;
    word-spacing: 10px;
    letter-spacing: 5px;
    color: #000084;
    }
    span{
        text-transform: uppercase;
        font-weight: bold;
        color:#000084 ;
        letter-spacing:5px ;
        text-decoration: underline;
    }
    small{
        font-size: 10px;
    }
    button{
        background-color: #000084;
        color: white;
        letter-spacing: 5px;

    }
    div{
        padding: 20px;
        background-color: gainsboro;
        
    }